@import "../../styles/variables";
@import "../../styles/colors";

.container-show-text {
  background-color: $color-grayscale-200;
  border-radius: 15px;
  // border: 0.5px solid $color-grayscale-400;
  height: 150px;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}