@import "../../styles/variables";
@import "../../styles/colors";
@import "../../styles/typography";

.container-show-text {
  background-color: $color-grayscale-200;
  border-radius: 15px;
  height: 150px;
  overflow-y: auto;
  padding: 10px;
  width: 100%;
}