@import "../../styles/colors";

:host {
  background-color: $color-grayscale-800;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: visible;
  position: fixed;
  right: 0;
  opacity: 0.75;
  top: 0;
  z-index: 999;
}

.login-container {
  height: 100%;
}

.login-container::before {
  background-color: rgba(0, 0, 0, 0.2);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.login-container:not(:required) {
  background-color: transparent;
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}
