<div class="container">
    <app-header>
        <div right>
            <app-button type="header" [disabled]="!validForm()" [text]="saveText" (clickButton)="save()"></app-button>
            <app-button type="header" [disabled]="!validForm()" [text]="saveAndExitText" (clickButton)="saveAndClose()">
            </app-button>
            <app-button type="header" text="Salir" (clickButton)="close()"></app-button>
        </div>
    </app-header>
    <div [formGroup]="newProyectFormGroup">
        <app-tabs>
            <app-tab [title]="'Proyecto'">

                <div class="row" *ngIf="projectId">
                    <div class="col-xl-3 margin-top-16">
                        <app-textfield text="ID" id="id" [control]="newProyectFormGroup.get('id')" [disabled]="true">
                        </app-textfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-textfield text="Nombre del proyecto" id="name" [disabled]="proyectName"
                            [control]="newProyectFormGroup.get('name')">
                        </app-textfield>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <!-- <app-client [isSession]="sessionId" [selectedFormControl]="newProyectFormGroup.get('client')"
                            (clientSelectedData)="itemSelectedPredictiveClients($event)"></app-client> -->
                    </div>
                    <div class="col-md-6">
                        <!-- <app-user [text]="'Sponsor'" [id]="'sponsor'" [isSession]="sessionId"
                            (userSelectedData)="itemSelectedPredictiveSponsor($event)"
                            [selectedFormControl]="newProyectFormGroup.get('sponsor')"></app-user> -->
                        <app-user
                            [sessionId]="sessionId"
                            placeHolder="Sponsor"
                            [control]="newProyectFormGroup.get('sponsor')"
                            [userSelected]="''"
                        >
                        </app-user>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <!-- <app-user [text]="'Coordinador'" [id]="'coordinator'" [isSession]="sessionId"
                            (userSelectedData)="itemSelectedPredictiveCoordinators($event)"
                            [selectedFormControl]="newProyectFormGroup.get('coordinator')"></app-user> -->
                    </div>
                    <div class="col-md-6">
                        <!-- <app-user [text]="'Solicitado por'" [id]="'requestedbyuser'" [isSession]="sessionId"
                            (userSelectedData)="itemSelectedPredictiveRequestedByUsers($event)"
                            [selectedFormControl]="newProyectFormGroup.get('requestedbyuser')"></app-user> -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <app-select [items]="typeProject" [item]="typeProjectSelected"
                            [required]="true"
                            [dispatchHint]="'Seleccione un elemento'"
                            (itemSelected)="selectedItem($event, 'typeProject')" placeholderDefault="Tipo proyecto">
                        </app-select>
                    </div>
                    <div class="col-md-3">
                        <app-select [items]="stateProject" [item]="stateProjectSelected"
                            [dispatchHint]="'Seleccione un elemento'"
                            (itemSelected)="selectedItem($event, 'stateProject')" placeholderDefault="Estado">
                        </app-select>
                    </div>
                    <div class="col-md-3">
                        <app-select [items]="projectRisk" [item]="projectRiskSelected"
                            [dispatchHint]="'Seleccione un elemento'"
                            (itemSelected)="selectedItem($event, 'projectRisk')"
                            placeholderDefault="Riesgo del proyecto">
                        </app-select>
                    </div>
                    <div class="col-md-3">
                        <app-select [item]="managementAreaInChargeSelected" [items]="managementAreaInCharge"
                            [dispatchHint]="'Seleccione un elemento'" [disabled]="managementAreaInChargeDisabled"
                            (itemSelected)="selectedItem($event, 'managementAreaInCharge')"
                            placeholderDefault="Gerencia a cargo">
                        </app-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <app-select [items]="priority" [item]="prioritySelected"
                            [dispatchHint]="'Seleccione un elemento'" (itemSelected)="selectedItem($event, 'priority')"
                            placeholderDefault="Prioridad">
                        </app-select>
                    </div>
                    <div class="col-md-3">
                        <app-select [items]="complexityLevels" [item]="complexityLevelSelected"
                            [dispatchHint]="'Seleccione un elemento'"
                            (itemSelected)="selectedItem($event, 'complexityLevel')"
                            placeholderDefault="Nivel de Complejidad">
                        </app-select>
                    </div>
                    <div class="col-md-3">
                        <app-select [items]="areas" [item]="areaSelected" [dispatchHint]="'Seleccione un elemento'"
                            (itemSelected)="selectedItem($event, 'area')" placeholderDefault="Área">
                        </app-select>
                    </div>

                    <div class="col-md-3">
                        <app-select [items]="regions" [item]="regionSelected" [dispatchHint]="'Seleccione un elemento'"
                            (itemSelected)="selectedItem($event, 'region')" placeholderDefault="Región">
                        </app-select>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <app-textfield text="Beneficio Cualitativo" id="qualitativebenefits"
                            [control]="newProyectFormGroup.get('qualitativebenefits')">
                        </app-textfield>
                    </div>

                    <div class="col-md-6">
                        <app-textfield text="Beneficio Cuantitativo" id="quantitativebenefits"
                            [control]="newProyectFormGroup.get('quantitativebenefits')">
                        </app-textfield>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 margin-top-32">
                        <mat-form-field>
                            <mat-label>Fecha de Inicio Planificada</mat-label>
                            <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="dateStart" [formControl]="newProyectFormGroup.get('dateStart')">
                            <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
                            <mat-datepicker #dateStart></mat-datepicker>
                            <mat-error *ngIf="newProyectFormGroup.get('dateStart').hasError('greaterThanTodayValidator')">'Fecha de Inicio Planificada' debe ser mayor o igual a hoy.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 margin-top-32">
                        <mat-form-field>
                            <mat-label>Fecha de Fin Planificada</mat-label>
                            <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="dateEnd" [formControl]="newProyectFormGroup.get('dateEnd')">
                            <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
                            <mat-datepicker #dateEnd></mat-datepicker>
                            <mat-error *ngIf="newProyectFormGroup.get('dateEnd').hasError('greaterThanDateValidator')">La fecha seleccionada debe ser mayor o igual a 'Fecha de Inicio Planificada'.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 margin-top-32">
                        <mat-form-field>
                            <mat-label>Fecha de Inicio Real</mat-label>
                            <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="dateStartReal" [formControl]="newProyectFormGroup.get('dateStartReal')">
                            <mat-datepicker-toggle matSuffix [for]="dateStartReal"></mat-datepicker-toggle>
                            <mat-datepicker #dateStartReal></mat-datepicker>
                            <mat-error *ngIf="newProyectFormGroup.get('dateStartReal').hasError('greaterThanTodayValidator')">'Fecha de Inicio Real' debe ser mayor o igual a hoy.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 margin-top-32">
                        <mat-form-field>
                            <mat-label>Fecha de Fin Real</mat-label>
                            <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="dateEndReal" [formControl]="newProyectFormGroup.get('dateEndReal')">
                            <mat-datepicker-toggle matSuffix [for]="dateEndReal"></mat-datepicker-toggle>
                            <mat-datepicker #dateEndReal></mat-datepicker>
                            <mat-error *ngIf="newProyectFormGroup.get('dateEndReal').hasError('greaterThanDateValidator')">'Fecha de Fin Real' debe ser mayor o igual a 'Fecha de Inicio Real'.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-textfield [text]="'Horas estimadas'" id="estimatedHours"
                            [control]="newProyectFormGroup.get('estimatedHours')"></app-textfield>
                    </div>
                    <div class="col-md-6">
                        <app-textfield [text]="'Horas reales'" id="realHours"
                            [control]="newProyectFormGroup.get('realHours')"
                            [disabled]="true">
                        </app-textfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <app-textfield text="Porcentaje de avance" id="solvedpercent"
                            [control]="newProyectFormGroup.get('solvedpercent')" [disabled]="true">
                        </app-textfield>
                    </div>
                    <div class="col-md-6">
                        <app-textfield text="Número de compra" id="purchaseNumber" [disabled]="disabledPurchaseNumber"
                            [control]="newProyectFormGroup.get('purchaseNumber')">
                            <app-checkbox [checkbox]="checkbox" (checkboxChecked)="checkSelectedPurchaseNumber()">
                            </app-checkbox>
                        </app-textfield>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-textfield text="Repositorio" id="svn" [control]="newProyectFormGroup.get('repositorySVN')">
                        </app-textfield>
                    </div>
                </div>
                <div class="row">

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <app-textfield text="Descripción" id="description"
                            [control]="newProyectFormGroup.get('description')">
                        </app-textfield>
                    </div>
                </div>
                <div class="row margin-bottom-24">
                    <div class="col-md-12">
                        <app-show-text [description]="historicalDescription"></app-show-text>
                    </div>
                </div>

            </app-tab>
            <!-- <app-tab [title]="'Requerimiento'" [disabled]="!projectId">
                <app-requirements></app-requirements>
            </app-tab> -->
        </app-tabs>
    </div>
</div>