<mat-form-field class="full-width-field">
    <mat-label>{{placeHolder}}<span class="required" *ngIf="required">*</span></mat-label>
    <mat-select [compareWith]="compareObjects" [formControl]="control">
      <mat-option [value]="emptyOption">--</mat-option>
      <mat-option *ngFor="let keyword of keywords" [value]="keyword">
        {{keyword.description}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="control.hasError('mandatoryField')">Este campo es obligatorio.</mat-error>
</mat-form-field>

<!-- <span>Your choice is: {{control.value | json}}</span> -->