<app-card appOuterClick [disabledClose]="disabledClose" (clickOutside)="clickOutside()" [styleList]="isMobile ? styleArrayMobile : styleArray"
        [style.display]="'flex'" [style.justify-content]="'center'" [style.width]="'100%'" [style.margin]="isMobile ? marginCardMobile : null">
  <div class="custom-modal-dialog__content">
    <div class="custom-modal-dialog__content__header" [style.height.px]="heightTitle"
      [ngClass]="{'custom-modal-dialog__content__header--border-finish': isLineFinish}">
      <div class="custom-modal-dialog__content__header__title"
           [style.marginTop.px]="marginTopTitle">
        <h2 class="subtitle custom-modal-dialog__content__header__title__text" *ngIf="titleDialog"
            [ngClass]="{'custom-modal-dialog__content__header__title__text--finish': isLineFinish,
            'custom-modal-dialog__content__header__title__text--mobile': isMobile}">{{titleDialog}}</h2>
      </div>
      <div class="icon" [ngClass]="{'custom-modal-dialog__content__header__icon': !isMobile}"
       (click)="closeModal()">
        <p class="icon-cross size-24"></p>
      </div>
    </div>
    <div class="custom-modal-dialog__content__body">
    </div>
  </div>
</app-card>
