<div class="container">
    <app-header>
        <div left>
            <app-button *ngFor="let item of wkfStates" type="header" [text]="item.verb"
                [disabled]="!validFormFromToChengeState()" (clickButton)="chengeState(item)"></app-button>
        </div>
        <div right>
            <app-button type="header" [text]="saveText" [disabled]="!validFormFromToSave()" (clickButton)="save()">
            </app-button>
            <app-button type="header" [text]="saveAndExitText" [disabled]="!validFormFromToSave()"
                (clickButton)="saveAndClose()">
            </app-button>
            <app-button type="header" text="Salir" (clickButton)="close()"></app-button>
        </div>
    </app-header>

    <div class="margin-top-16">
        <div [formGroup]="requirementFormGroup">
            <div class="row margin-top-16">
                <div class="col-xl-3" *ngIf="requirementId">
                    <app-textfield text="ID" id="id" [control]="requirementFormGroup.get('id')" [disabled]="true">
                    </app-textfield>
                </div>
                <div class="col-xl-3">
                    <app-textfield text="Fecha de creación" mask="00/00/0000" id="createdDate" [disabled]="true"
                        [dispatchError]="errorMessageDate" (handlerError)="handlerErrorDate($event)"
                        [control]="requirementFormGroup.get('createdDate')">
                    </app-textfield>
                </div>
                <div class="col-md-3">
                    <app-textfield text="Creador" id="creator" [disabled]="true"
                        [control]="requirementFormGroup.get('creator')">
                    </app-textfield>
                </div>
                <div class="col-md-3">
                    <app-textfield text="Estado" [disabled]="true" id="state"
                        [control]="requirementFormGroup.get('state')">
                    </app-textfield>
                </div>
            </div>
            <app-tabs>
                <app-tab [title]="'Requerimiento'">
                    <div class="row  margin-top-32">
                        <!-- <div class="col-md-6">
                            <app-textfield text="Titulo" [disabled]="requirementName" id="title"
                                [control]="requirementFormGroup.get('title')">
                            </app-textfield>
                        </div> -->
                        <mat-form-field class="example-full-width">
                            <mat-label>Título <span class="required">*</span></mat-label>
                            <textarea matInput maxlength="200" [formControl]="requirementFormGroup.get('title')"></textarea>
                            <mat-hint align="end">{{(requirementFormGroup.get('title')?.value?.length || 0)}} / 200</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <div class="col-md-12 margin-top-32">
                            <app-project
                                [sessionId]="sessionId"
                                placeHolder="Proyecto / frente de trabajo"
                                [control]="requirementFormGroup.get('project')"
                                [required]="true"
                            >
                            </app-project>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 margin-top-32">
                            <!-- <app-select [items]="aplications" [item]="aplicationsSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'aplications')" placeholderDefault="Aplicación">
                            </app-select> -->
                            <app-keyword
                                placeHolder="Aplicación"
                                [control]="requirementFormGroup.get('application')"
                                [keywords]="aplications"
                            ></app-keyword>
                        </div>
                        <div class="col-md-4 margin-top-32">
                            <!-- <app-select [items]="modules" [item]="moduleSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'modules')" placeholderDefault="Módulo">
                            </app-select> -->
                            <app-keyword
                                placeHolder="Módulo"
                                [control]="requirementFormGroup.get('module')"
                                [keywords]="modules"
                            ></app-keyword>
                        </div>
                        <div class="col-md-4 margin-top-32">
                            <app-gestar-numeric-input
                            placeHolder="Horas reales"
                            [formControl]="requirementFormGroup.get('calculatedEffort')"
                            >
                            </app-gestar-numeric-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 margin-top-32">
                            <app-user
                                [sessionId]="sessionId"
                                placeHolder="Usuario solicitante"
                                [control]="requirementFormGroup.get('requestedByUser')"
                            >
                            </app-user>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <mat-form-field>
                                <mat-label>Fecha de solicitud</mat-label>
                                <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="requestDate" [formControl]="requirementFormGroup.get('requestDate')">
                                <mat-datepicker-toggle matSuffix [for]="requestDate"></mat-datepicker-toggle>
                                <mat-datepicker #requestDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <app-gestar-numeric-input
                            placeHolder="Porcentaje de avance"
                            [formControl]="requirementFormGroup.get('solvedpercent')"
                            >
                            </app-gestar-numeric-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 margin-top-32">
                            <!-- <app-select [items]="businessProces" [item]="businessProcesSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'businessProces')"
                                placeholderDefault="Proceso de negocio">
                            </app-select> -->
                            <app-keyword
                                placeHolder="Proceso de negocio"
                                [control]="requirementFormGroup.get('businessProcess')"
                                [keywords]="businessProcesses"
                            ></app-keyword>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <!-- <app-select [items]="requirementTypes" [item]="requirementTypeSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'requirementTypes')"
                                placeholderDefault="Tipo de requerimiento">
                            </app-select> -->
                            <app-keyword
                                placeHolder="Tipo de requerimiento"
                                [control]="requirementFormGroup.get('requirementType')"
                                [keywords]="requirementTypes"
                            ></app-keyword>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <app-main-object
                                placeHolder="Objeto principal"
                                [control]="requirementFormGroup.get('mainObject')"
                                [mainObjects]="mainObjects"
                            >
                            </app-main-object>

                        </div>
                        <div class="col-md-3 margin-top-32">
                            <!-- <app-select [items]="prioritys" [item]="prioritySelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'prioritys')" placeholderDefault="Prioridad">
                            </app-select> -->
                            <app-keyword
                                placeHolder="Prioridad"
                                [control]="requirementFormGroup.get('priority')"
                                [keywords]="priorities"
                            ></app-keyword>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 margin-top-32">
                            <mat-form-field>
                                <mat-label>Fecha estimada de inicio</mat-label>
                                <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="estimatedDateStart" [formControl]="requirementFormGroup.get('estimatedDateStart')">
                                <mat-datepicker-toggle matSuffix [for]="estimatedDateStart"></mat-datepicker-toggle>
                                <mat-datepicker #estimatedDateStart></mat-datepicker>
                            </mat-form-field>
                            <mat-error *ngIf="requirementFormGroup.get('estimatedDateStart').hasError('greaterThanTodayValidator')">'Fecha estimada de inicio' debe ser mayor o igual a hoy.</mat-error>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <mat-form-field>
                                <mat-label>Fecha estimada de fin</mat-label>
                                <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="estimatedDateEnd" [formControl]="requirementFormGroup.get('estimatedDateEnd')">
                                <mat-datepicker-toggle matSuffix [for]="estimatedDateEnd"></mat-datepicker-toggle>
                                <mat-datepicker #estimatedDateEnd></mat-datepicker>
                                <mat-error *ngIf="requirementFormGroup.get('estimatedDateEnd').hasError('greaterThanDateValidator')">'Fecha estimada de fin' debe ser mayor o igual a 'Fecha estimada de inicio'.</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <app-gestar-numeric-input
                            placeHolder="Esfuerzo sistemas en horas"
                            [formControl]="requirementFormGroup.get('systemEffortinHours')"
                            >
                            </app-gestar-numeric-input>
                            <mat-error *ngIf="requirementFormGroup.get('systemEffortinHours').hasError('min') || requirementFormGroup.get('systemEffortinHours').hasError('max')">
                                Esfuerzo sistemas en horas debe ser un número entre {{this.hoursMin}} y {{this.hoursMax | number:'1.0-0'}}.
                            </mat-error>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <app-gestar-numeric-input
                            placeHolder="Esfuerzo usuarios en horas"
                            [formControl]="requirementFormGroup.get('usersEffortinHours')"
                            >
                            </app-gestar-numeric-input>
                            <mat-error *ngIf="requirementFormGroup.get('usersEffortinHours').hasError('min') || requirementFormGroup.get('usersEffortinHours').hasError('max')">
                                Esfuerzo usuarios en horas debe ser un número entre {{this.hoursMin}} y {{this.hoursMax | number:'1.0-0'}}.
                            </mat-error>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 margin-top-32">
                            <!-- <app-select [items]="areas" [item]="areaSelected" [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'areas')" placeholderDefault="Área">
                            </app-select> -->
                            <app-keyword
                                placeHolder="Área"
                                [control]="requirementFormGroup.get('area')"
                                [keywords]="areas"
                            ></app-keyword>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <!-- <app-select [items]="managementAreas" [item]="managementAreaSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'managementAreas')"
                                placeholderDefault="Gerencia responsable">
                            </app-select> -->
                            <app-keyword
                                placeHolder="Gerencia responsable"
                                [control]="requirementFormGroup.get('managementArea')"
                                [keywords]="managementAreas"
                            ></app-keyword>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <!-- <app-select [items]="complexityLevels" [item]="complexityLevelSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'complexityLevel')"
                                placeholderDefault="Nivel de Complejidad">
                            </app-select> -->
                            <app-keyword
                                placeHolder="Nivel de Complejidad"
                                [control]="requirementFormGroup.get('complexityLevel')"
                                [keywords]="complexityLevels"
                            ></app-keyword>
                        </div>
                        <div class="col-md-3">
                            <app-textfield text="Número de release" id="releaseNumber"
                                [control]="requirementFormGroup.get('releaseNumber')">
                            </app-textfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-textfield text="Descripción" id="description"
                                [control]="requirementFormGroup.get('description')">
                            </app-textfield>
                        </div>
                    </div>
                    <div class="row margin-bottom-24">
                        <div class="col-md-12">
                            <app-show-text [description]="historicalDescription"></app-show-text>
                        </div>
                    </div>
                </app-tab>
                <app-tab *ngIf="requirementAcction != 'new'" [title]="'Actividades'">
                    <div class="margin-top-16">
                        <div class="row">
                            <div class="col-md-10">
                                <app-table [list]="activities">
                                </app-table>
                            </div>
                            <div class="col-md-2">
                                <app-button text="Recargar" (clickButton)="reloadActivities()"></app-button>
                            </div>
                        </div>
                    </div>

                    <div class="margin-top-48 margin-right-24">
                        <app-button [text]="'Cargar actividades'" (clickButton)="createNewActivity()"></app-button>
                    </div>
                </app-tab>
            </app-tabs>
        </div>
    </div>
</div>


<app-modal id="requirement">
    <label>{{errorMessage}}</label>
</app-modal>