<div class="container">
    <app-header>
        <div left>
            <app-button *ngFor="let item of wkfStates" type="header" [text]="item.verb"
                [disabled]="!validFormFromToChengeState()" (clickButton)="chengeState(item)"></app-button>
        </div>
        <div right>
            <app-button type="header" [text]="saveText" [disabled]="!validFormFromToSave()" (clickButton)="save()">
            </app-button>
            <app-button type="header" [text]="saveAndExitText" [disabled]="!validFormFromToSave()"
                (clickButton)="saveAndClose()">
            </app-button>
            <app-button type="header" text="Salir" (clickButton)="close()"></app-button>
        </div>
    </app-header>

    <div class="margin-top-16">
        <div [formGroup]="requirementFormGroup">
            <div class="row margin-top-16">
                <div class="col-xl-3" *ngIf="requirementId">
                    <app-textfield text="ID" id="id" [control]="requirementFormGroup.get('id')" [disabled]="true">
                    </app-textfield>
                </div>
                <div class="col-xl-3">
                    <app-textfield text="Fecha de creación" mask="00/00/0000" id="createdDate" [disabled]="true"
                        [dispatchError]="errorMessageDate" (handlerError)="handlerErrorDate($event)"
                        [control]="requirementFormGroup.get('createdDate')">
                    </app-textfield>
                </div>
                <div class="col-md-3">
                    <app-textfield text="Creador" id="creator" [disabled]="true"
                        [control]="requirementFormGroup.get('creator')">
                    </app-textfield>
                </div>
                <div class="col-md-3">
                    <app-textfield text="Estado" [disabled]="true" id="state"
                        [control]="requirementFormGroup.get('state')">
                    </app-textfield>
                </div>
            </div>
            <app-tabs>
                <app-tab [title]="'Requerimiento'">
                    <div class="row  margin-top-16">
                        <div class="col-md-6">
                            <app-textfield text="Titulo" [disabled]="requirementName" id="title"
                                [control]="requirementFormGroup.get('title')">
                            </app-textfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <app-select [items]="aplications" [item]="aplicationsSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'aplications')" placeholderDefault="Aplicación">
                            </app-select>
                        </div>
                        <div class="col-md-3">
                            <app-select [items]="modules" [item]="moduleSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'modules')" placeholderDefault="Módulo">
                            </app-select>
                        </div>
                        <div class="col-md-6">
                            <app-project [text]="'Proyecto / frente de trabajo'" [id]="'project'"
                            [isSession]="sessionId" (proyectsSelectedData)="itemSelected($event)"
                                [selectedFormControl]="requirementFormGroup.get('project')"></app-project>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <app-user [text]="'Usuario solicitante'" [id]="'requestedByUser'" [isSession]="sessionId"
                                (userSelectedData)="itemSelectedPredictive($event)"
                                [selectedFormControl]="requirementFormGroup.get('requestedByUser')"></app-user>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <mat-form-field>
                                <mat-label>Fecha de solicitud</mat-label>
                                <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="requestDate" [formControl]="requirementFormGroup.get('requestDate')">
                                <mat-datepicker-toggle matSuffix [for]="requestDate"></mat-datepicker-toggle>
                                <mat-datepicker #requestDate></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <app-textfield text="Porcentaje de avance" id="solvedpercent"
                                [control]="requirementFormGroup.get('solvedpercent')" [disabled]="true">
                            </app-textfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <app-select [items]="businessProces" [item]="businesProcesSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'businessProces')"
                                placeholderDefault="Proceso de negocio">
                            </app-select>
                        </div>
                        <div class="col-md-3">
                            <app-select [items]="requirementTypes" [item]="requirementTypeSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'requirementTypes')"
                                placeholderDefault="Tipo de requerimiento">
                            </app-select>
                        </div>
                        <div class="col-md-3">
                            <app-main-object [text]="'Objeto principal'"
                                (itemSelected)="selectedItem($event, 'mainObjects')"
                                [dispatchHint]="'Seleccione un elemento'"
                                (mainObjectsSelectedData)="itemSelectedMainObjectPredictive($event)"
                                [selectedFormControl]="requirementFormGroup.get('mainObject')"
                                [mainObjects]="mainObjects" [id]="'mainObjects'"></app-main-object>

                        </div>
                        <div class="col-md-3">
                            <app-select [items]="prioritys" [item]="prioritySelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'prioritys')" placeholderDefault="Prioridad">
                            </app-select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 margin-top-32">
                            <mat-form-field>
                                <mat-label>Fecha estimada de inicio</mat-label>
                                <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="estimatedDateStart" [formControl]="requirementFormGroup.get('estimatedDateStart')">
                                <mat-datepicker-toggle matSuffix [for]="estimatedDateStart"></mat-datepicker-toggle>
                                <mat-datepicker #estimatedDateStart></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 margin-top-32">
                            <mat-form-field>
                                <mat-label>Fecha estimada de fin</mat-label>
                                <input matInput placeholder="dd/mm/aaaa" [matDatepicker]="estimatedDateEnd" [formControl]="requirementFormGroup.get('estimatedDateEnd')">
                                <mat-datepicker-toggle matSuffix [for]="estimatedDateEnd"></mat-datepicker-toggle>
                                <mat-datepicker #estimatedDateEnd></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3">
                            <app-textfield text="Esfuerzo sistemas en horas" id="systemEffortinHours"
                                [control]="requirementFormGroup.get('systemEffortinHours')">
                            </app-textfield>
                        </div>
                        <div class="col-md-3">
                            <app-textfield text="Esfuerzo usuarios en horas" id="usersEffortinHours"
                                [control]="requirementFormGroup.get('usersEffortinHours')">
                            </app-textfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <app-select [items]="areas" [item]="areaSelected" [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'areas')" placeholderDefault="Área">
                            </app-select>
                        </div>
                        <div class="col-md-3">
                            <app-select [items]="managementAreas" [item]="managementAreaSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'managementAreas')"
                                placeholderDefault="Gerencia responsable">
                            </app-select>
                        </div>
                        <div class="col-md-3">
                            <app-select [items]="complexityLevels" [item]="complexityLevelSelected"
                                [dispatchHint]="'Seleccione un elemento'"
                                (itemSelected)="selectedItem($event, 'complexityLevel')"
                                placeholderDefault="Nivel de Complejidad">
                            </app-select>
                        </div>
                        <div class="col-md-3">
                            <app-textfield text="Número de release" id="releaseNumber"
                                [control]="requirementFormGroup.get('releaseNumber')">
                            </app-textfield>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-textfield text="Descripción" id="description"
                                [control]="requirementFormGroup.get('description')">
                            </app-textfield>
                        </div>
                    </div>
                    <div class="row margin-bottom-24">
                        <div class="col-md-12">
                            <app-show-text [description]="historicalDescription"></app-show-text>
                        </div>
                    </div>
                </app-tab>
                <app-tab *ngIf="requirementAcction != 'new'" [title]="'Actividades'">
                    <div class="margin-top-16">
                        <div class="row">
                            <div class="col-md-10">
                                <app-table [list]="activities">
                                </app-table>
                            </div>
                            <div class="col-md-2">
                                <app-button text="Recargar" (clickButton)="reloadActivities()"></app-button>
                            </div>
                        </div>
                    </div>

                    <div class="margin-top-48 margin-right-24">
                        <app-button [text]="'Cargar actividades'" (clickButton)="createNewActivity()"></app-button>
                    </div>
                </app-tab>
            </app-tabs>
        </div>
    </div>
</div>


<app-modal id="requirement">
    <label>{{errorMessage}}</label>
</app-modal>